h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

section {
  margin-bottom: 5rem;
}

section:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
  border-bottom: solid 2px var(--color-minayulab-green);
}

.site-contents>h1 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0;
  border: none;
}

h2 {
  font-size: 1.5rem;
  border-bottom: solid 1px var(--color-grey);
  /* line-height: 0; */
  margin: 1rem 0;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-blue);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-purple);
}

ul,
ol {
  padding-left: 2rem;
}

dl {
  margin-bottom: 1rem;
}

dl>dd {
  padding-left: 2rem;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-grey);
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 1rem;
}

table caption {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

th {
  text-align: center;
  font-weight: bold;
  border-top: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
}

th,
td {
  padding: 0.25rem 0.5rem;
}

table tr:last-child {
  border-bottom: 1px solid var(--color-text);
}

figure {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

figure img {
  margin: auto;
  display: block;
}

figure figcaption {
  font-weight: bold;
  text-align: center;
}

blockquote {
  color: var(--color-dark-grey);
  border-left: 4px solid var(--color-grey);
  padding-left: 1em;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    color: var(--color-light-grey);
  }
}

pre,
code {
  border-radius: 3px;
  background-color: hsl(130, 23%, 95%);
  font-family: monospace;
}

@media (prefers-color-scheme: dark) {

  pre,
  code {
    border-radius: 3px;
    background-color: hsl(130, 23%, 30%);
    font-family: monospace;
  }
}

code {
  padding: 3px 5px;
  margin: 0 3px;
  border: 1px solid var(--color-grey);
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}

pre>code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

#colophon>.title {
  font-size: 2rem;
}

#colophon>.colophon {
  text-align: right;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}