:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(0, 0%, 75%);
  --color-grey: hsl(0, 0%, 50%);
  --color-dark-grey: hsl(0, 0%, 25%);
  --color-black: hsl(0, 0%, 0%);

  --color-red: hsl(0, 90%, 64%);
  --color-orange: hsl(30, 84%, 64%);
  --color-yellow: hsl(50, 79%, 64%);
  --color-green: hsl(140, 57%, 64%);
  --color-blue: hsl(200, 84%, 64%);
  --color-purple: hsl(260, 84%, 64%);

  --color-light-red: hsl(0, 90%, 75%);
  --color-light-orange: hsl(30, 84%, 75%);
  --color-light-yellow: hsl(50, 79%, 75%);
  --color-light-green: hsl(140, 57%, 75%);
  --color-light-blue: hsl(200, 84%, 75%);
  --color-light-purple: hsl(260, 84%, 75%);

  --color-text: hsl(0, 0%, 20%);
  --color-bg: hsl(0, 0%, 100%);

  --color-minayulab-orange: #fbd6a2;
  --color-minayulab-green: #72b483;
  --color-minayulab-blue: #87b9ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: hsl(0, 0%, 100%);
    --color-bg: hsl(0, 0%, 20%);
  }
}