@import "color.css";

/**
 * Reset some basic elements
 */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: max-content auto max-content;
}

body>header {
  grid-area: 1;
}

body>main {
  grid-area: 2;
}

body>footer {
  grid-area: 3;
}

/* Header */

.site-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  box-shadow: 0 5px 8px -4px var(--color-minayulab-blue);
  background-color: var(--color-minayulab-blue);
}

.site-logo {
  display: block;
  border-radius: 5px;
  padding: 0.5rem;
}

.site-logo img {
  display: block;
  height: 2rem;
  filter: brightness(1000%);
}

/* Footer */
.site-footer {
  background-color: var(--color-minayulab-green);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: var(--color-white);
}

/* Main */

.site-contents {
  background-image: url("seedling.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 10rem;
  padding: 1rem 1rem 10rem 1rem;
}